<head>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
 <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap" rel="stylesheet">
</head>
<!-- Menu & Navigation partial -->

    <div class ="titlediv">
        <h2 style="font-family: 'Red Hat Display', sans-serif;">MongoDB CRUD Client</h2><hr> 
        <input class ="menu-button" type="submit" style="font-family: 'Red Hat Display', sans-serif;" value="Create" onclick="displayOption('1')">
        <input class ="menu-button" type="submit" style="font-family: 'Red Hat Display', sans-serif;" value="Read" onclick="displayOption('2')">
        <input class ="menu-button" type="submit" style="font-family: 'Red Hat Display', sans-serif;" value="Update" onclick="displayOption('3')">
        <input class ="menu-button" type="submit" style="font-family: 'Red Hat Display', sans-serif;" value="Delete" onclick="displayOption('4')"> 
        <input class ="menu-button" type="button" style="font-family: 'Red Hat Display', sans-serif;" onclick="location.href='/';" value="Reset" />
    </div>


<script>
    function displayOption(activeOption) {
        activeOption--;
        var i;
        var activediv = document.getElementsByClassName("menu-div");
        var activebutton = document.getElementsByClassName("menu-button");
        for (i = 0; i < activediv.length; i++) {
            if (i == activeOption) {    
                activediv[i].style.display = "block"; 
                activebutton[i].style.background = "rgb(238, 0, 0)";
            } else {
                activediv[i].style.display  = "none"; 
                activebutton[i].style.background = "";
            }
        }

        
    }

</script>